
.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg);
}

.auth-card, .edit-profile-card {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-xl);

  box-shadow: var(--shadow-md);
}

.edit-profile-card {
    width: 100%;
  min-width: 500px;
}

.auth-card {
  min-width: 500px;
}

.auth-logo {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.auth-logo-text {
  font-size: 32px;
  font-weight: bold;
  color: var(--reddit-orange);
}

.auth-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.auth-link {
  text-align: center;
  margin-top: var(--spacing-md);
  color: var(--text-secondary);
  font-size: 14px;
}

/* Register */


.form-select {
  padding: 1rem;
}


.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.form-label {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 14px;
}

.form-input,
.form-textarea,
.form-select {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-family: inherit;
  transition: border-color 0.2s;
  background-color: var(--bg-secondary);
}

.form-input:focus,
.form-textarea:focus,
.form-select:focus {
  outline: none;
  border-color: var(--reddit-blue);
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.form-error {
  color: #d32f2f;
  font-size: 13px;
  margin-top: var(--spacing-xs);
}

.edit-form {
  display: flex ;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}

.profile-info {
  gap: 1rem;
}