.commentBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 1rem;
}

.content {
    font-size: 14px;
    color: #333;
    width: 100%;
    display: flex;
}

.submitForm {
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
}

.input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-date {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

.comment-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.comment-response-button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}

.comment-response-button:hover{
    background-color: #ddd;
}

.comment-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2.5rem;
}