.legal-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  line-height: 1.6;
  font-family: sans-serif;
  color: #333;
  height: 50vh;
}

.legal-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #050505;
}

/* @media (prefers-color-scheme: dark) {
  .legal-container { color: #e4e6eb; }
  .legal-container h1 { color: #ffffff; }
} */
