.post-detail-container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-detail-card{
  width: 100%;
  border: none !important;
}


.return-to-post-btn{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
}


@media (max-width: 500px) {
  .post-title {
    font-size: 15px;
  }
.post-detail-container {
  width:unset;
}

.navbar-hidden-mobile{
  display: none;
}

}

