.user-menu {
    display: flex;
    flex-direction: column;

}

.user-menu button {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
}

.user-menu button::after{
    height: 10px;
    background-color: red;
    color: red;
    display: block;
    width: 100%;
}

.user-menu button:hover {
    cursor: pointer;
    background-color: #ddd;
}

.user-menu .user-logout-btn {
    color: rgb(202, 21, 21)
}

.mobile-message-btn {
    display: none !important;
}

@media (max-width: 768px){
    .mobile-message-btn {
    display: flex !important;
}
.user-menu button {
    font-size: 1.1rem;
}
}